<head>
	<meta charset="UTF-8">
	<!-- model est envoyé depuis render.js et contient toutes les infos de la page contenues dans pages.json -->
	<title>{{model.meta.title}}</title>
	{{>system/css}}
</head>