<h2>List</h2>
{{#each model as |library|}}
    <article class="list">
        <header>
            <h3>{{library.name}}</h3>
        </header>
        <ul>
            <li>Address: {{library.address}}</li>
            <li>Phone: {{library.phone}} </li>
        </ul>
        <footer>
            {{#link-to 'libraries.edit' library.id class="edit" tagName="button"}} Edit{{/link-to}}
            <button {{action 'deleteLibrary' library}} class="delete">Delete</button>
        </footer>
    </article>
{{/each}}