<h2>List</h2>
{{#each model as |library|}}
{{!--call the component library-item and pass the library locale var as "item" parameter--}}
    {{#library-item item=library}}
    {{!--the links appear in place of the "yield" tag inside the component--}}
        {{#link-to 'libraries.edit' library.id class="edit" tagName="button"}} Edit{{/link-to}}
        <button {{action 'deleteLibrary' library}} class="delete">Delete</button>
    {{/library-item}}
{{/each}}