<section class="view-form">
    <nav>
        <ul>
            <li><a href="#/"> Retour </a></li>
        </ul>
    </nav>
    <h2>Add a new restaurant</h2>
    <div ng-if="error && addRestaurantForm.$invalid">
        Il y a des erreurs
    </div>
    <form name ="addRestaurantForm" ng-submit="addResto(addRestaurantForm.$valid)" novalidate="">
        
        <ul>
            <li><label for="name-input">Name : *</label></li>
            <li><input type="text" name="newResto.name" id="name-input" ng-model="newResto.name" required placeholder="Le Sambre et Meuse"></li>
        </ul>
        <fieldset>
            <legend>Address</legend>
            <ul>
                <li><label for="street-input">Street : *</label></li>
                <li><input type="text" name="newResto.street" id="street-input" ng-model="newResto.address.street" required placeholder="rue de l'Eglise"></li>
            </ul>
            <ul>
                <li><label for="number-input">Number : *</label></li>
                <li><input type="text" name="newResto.number" id="number-input" ng-model="newResto.address.number" required placeholder="17"></li>
            </ul>
            <ul>
                <li><label for="zip-input">ZIP : *</label></li>
                <li><input type="text" name="newResto.zip" id="zip-input" ng-model="newResto.address.zip" required placeholder="6280"></li>
            </ul>
            <ul>
                <li><label for="town-input">Town : *</label></li>
                <li><input type="text" name="newResto.town" id="town-input" ng-model="newResto.address.town" required placeholder="Gerpinnes"></li>
            </ul>
            <ul>
                <li><label for="country-input">Country : *</label></li>
                <li><input type="text" name="newResto.country" id="country-input" ng-model="newResto.address.country" required placeholder="Belgium"></li>
            </ul>
        </fieldset>
        <ul>
            <li><label for="phone-input">Phone : </label></li>
            <li><input type="text" id="phone-input" name="newResto.phone" ng-model="newResto.phone" placeholder="+32 (0)45 68 97 52"></li>
        </ul>
        <ul>
            <li><label for="url-input">Phone : </label></li>
            <li><input type="text" id="url-input" name="newResto.url" ng-model="newResto.url" placeholder="www.sambreetmeuse.be"></li>
        </ul>

        <ul>
            <li><label for="cookType-input">Cook Type : </label></li>
            <li>
                <input type="text" name="newResto.cookType" id="cookType-input" ng-model="newTypes" placeholder="japonaise">
                <span ng-click="addElement('type')"> + </span>
             </li>
        </ul>
        <!-- list the cook types added in the form temporarily -->
        <ul class="elements-types">
            <li ng-repeat="item in types track by $index">
                {{item}} <span ng-click="removeElement('type', $index)"> - </span>
            </li>
        </ul>
        <ul>
            <li><label for="rating-input">Rating [0-10]: </label></li> 
            <li><input type="text" name="newResto.rating" id="rating-input" ng-model="newResto.rating" placeholder="9"></li>
        </ul>
        <fieldset>
            <legend>Upload Image</legend>
            <ul>
                <li><label for="title-input">Title : </label> </li>
                <li>
                    <input type="text" name="newPicture.title" id="title-input" ng-model="newPictures.title" placeholder="Façade Sambre et Meuse">
                </li>
            </ul>
            <ul>
                <li><label for="link-input">Link : </label> </li>
                <li>
                    <input type="text" name="newPicture.link" id="link-input" ng-model="newPictures.link" placeholder="sambre_et_meuse2016.jpg">
                    <span ng-click="addElement('picture')"> + </span>
                </li>
            </ul>
            <!-- list the cook types added in the form temporarily -->
            <ul class="elements-types">
                <li ng-repeat="item in pics track by $index">
                    <strong>{{item.title}}</strong> {{item.link}} 
                    <span ng-click="removeElement('picture', $index)"> - </span>
                </li>
            </ul>
        </fieldset>
        <p>
            <input type="submit" value="Send">
        </p>
    </form>
</section>