<h1>Contactez moi :</h1>
<form action="/send" method="post">
	<ul>
		<li>
			<label for="name">Nom : </label><input type="text" name="name">
		</li>
		<li>
			<label for="email">Email : </label><input type="text" name="email">
		</li>
		<li>
			<input type="submit" value="Envoyer">
		</li>
	</ul>
</form>