<!--Created with the command ember g template application-->
<div class="container">
    <nav>
        {{#link-to 'index'}}
            Resto API with Ember
        {{/link-to}}

        <ul>
            <li>
                {{#link-to 'form' class="button"}}
                    Add a restaurant
                {{/link-to}}
            </li>
        </ul>
    </nav>
    <div class="content">
        <!--check in the router file to shox the correct content in place of the outlet in function on the address-->
        {{outlet}}
    </div>
</div>