<section class="view-details">
    <nav>
        <ul>
            <!--<li><a href="/details/0"> Previous </a></li>
            <li><a href="/details/2"> Next </a></li>-->
            <!--Create a ember link to the form page-->
            {{#link-to 'form' class="button"}}Add a restaurant{{/link-to}}
        </ul>
    </nav>
    <article>
        <h2>Resto<span>8/10</span></h2>
        <div>
            <img src="img/resto.jpg" alt="resto" width="400" height="250">
        </div>
        <div>
            <ul>
                <li><strong>Address :</strong>
                    <ul>
                        <li>My Street, 0</li>
                        <li>0000 My Town</li>
                    </ul>
                </li>
                
                <li><strong>Phone :</strong> 000/ 00 00 00</li>
                <li><strong>Web : </strong><a href="http://www.mywebsite.com">http://www.mywebsite.com</a></li>
                <li><strong>Cooks type :</strong>
                    <ul>
                        <li>Cook type 1</li>
                        <li>Cook type 2</li>
                    </ul>
                </li>
            </ul>
        </div>
    </article>
    <nav>
        <ul>
            <li><a href="/"> Retour </a></li>
        </ul>
    </nav>
</section>