<section class="view-form">
    <nav>
        <ul>
            <!--<li><a href="#/"> Retour </a></li>-->
            {{#link-to 'details' class="button"}}Details{{/link-to}}
        </ul>
    </nav>
    <form>
        <h2>Add a new restaurant</h2>
        <p>
            <label for="name">Name : </label> <input type="text" name="name" id="name-input">
        </p>
        <fieldset>
            <legend>Address</legend>
            <p>
                <label for="street">Street : </label> <input type="text" name="street" id="street-input">
            </p>
            <p>
                <label for="number">Number : </label> <input type="text" name="number" id="number-input">
            </p>
            <p>
                <label for="zip">ZIP : </label> <input type="text" name="zip" id="zip-input">
            </p>
            <p>
                <label for="town">Town : </label> <input type="text" name="town" id="town-input">
            </p>
            <p>
                <label for="country">Country : </label> <input type="text" name="country" id="country-input">
            </p>
        </fieldset>
        <p>
            <input type="submit" value="Send">
        </p>
    </form>
</section>
