<section class="list-view">
    {{!--call the list-filter component which add a filter input and manage values in the list--}}
    {{#list-filter
        filter=(action 'filterByName')
        as |restos|}}
        <ul>
            {{!--same than ng-repeat--}}
            {{#each restos as |restoUnit|}}
                <li>{{resto-listing resto=restoUnit}}</li>
            {{/each}}
        </ul>
    {{/list-filter}}
</section>