body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #999;
    color: #fff;
    padding: 5px;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul{
    /*margin: 0;*/
    padding: 0;
}

nav ul a {
    display: inline-block;
    text-transform: lowercase;
    color: #333;
    padding: 10px;
    background-color: #FFF;
}

nav ul a:hover{
    color: #999;
}

.listing {
    border: 1px solid #333;
    margin-bottom: 15px;
    padding: 10px;
}

.listing h2 {
    text-transform: capitalize;
}

.listing h2 a {
    text-decoration: none;
    color: #999;
    font-size: 0.8em;
}

.listing h2 a:hover{
    color: #333
}

.listing h2

.resto-image {
    position: relative;
}

.resto-image img {
    max-width: 150px;
}

.wide img{
    max-width: 100%;
}

.green {
    color: lightgreen;
}

.orange {
    color: darkorange;
}

.red {
    color: red;
}