<!DOCTYPE html>
<html lang="fr">
	{{>system/header}}
<body>
	<!-- appelle la partiale menu.hbs crée dans partials -->
	{{>menu}}
	<!-- on insère le body ici qui sera contenu dans un fichié séparé et appellé via handlebars -->
	{{{body}}}
	{{>system/js}}
</body>
</html>