@import "bootstrap";

$green: #377;
$red: #d9534f;
$lightGrey: #EEE;
$mediumGrey: #BBB;
$dark: #101010;

body {
    padding-top: 20px;
}

h3 {
    font-size: 18px;
}

.lib-nav ul {
    padding: 0;
    list-style: none;
}

.lib-nav li {
    display: inline-block;
}

.lib-nav a {
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.lib-nav a:hover {
    background-color: $lightGrey;
    text-decoration: none;
}

.lib-nav .active, .lib-nav .active:hover{
    background-color: $green;
    color: #FFF;
    text-decoration: none;
}

.list {
    display: inline-block;
    width: 100%;
    min-height: 100px;
    vertical-align: top;
    margin-bottom: 10px;
    border: 1px solid $mediumGrey;
    border-radius: 3px;
}

.list header, .list footer {
    background-color: $lightGrey;
    padding-left: 10px;
    line-height: 35px;
    height: 35px;
}

.list h3 {
    line-height: 35px;
    margin: 0;
    text-transform: capitalize;
}

.list ul {
    padding: 10px;
    list-style: none;
}

.list button {
    font-size: 12px;
    line-height: 12px;
    padding: 5px;
    border: 0;
    border-radius: 3px;
    color: #FFF;
}

.list .edit {
    background-color: $mediumGrey;
}

.list .delete {
    background-color: $red;
}

.lib-form label {
    display: block;
    width: 100px;
}

.lib-form input {
    padding: 5px;
}

.lib-form input, .lib-form textarea {
    display: block;
    min-width: 100%;
}

input[type=submit] {
    min-width: 100px;
    background-color: $green;
    color: #FFF;
    border: 1px solid $mediumGrey;
    border-radius: 3px;
    padding: 10px;
}

input:disabled {
    background-color: $mediumGrey;
}