<h1>Hello world !</h1>
<img src="images/edward.jpg" alt="Edward Elric" width="500" height="500">
<!-- appelle des helpers envoyés à la page -->
{{crie}}<br>
<!-- on envoie des données pour qu'elles soient traitées par index.js -->
{{yell "yatta"}}<br>
{{data.name}}<br>
{{data.title}}<br>